/*MAIN PAGE STYLES BELOW*/
body {
    font-size:100%;
    margin:auto;
    max-width:1510px;
    box-sizing: border-box;
    font-family:Verdana, serif;
}
.navbar {
    font-family: 'Lemonada', cursive;
    font-weight:500;
    max-width:1500px;
}
.navbar {
   background-color: rgba(115, 38, 38, 0.5);
}
.scrolled {
    background-color:rgb(115, 38, 38);
    transition:background 1000ms;
}

.carousel-caption {
    font-family: 'Lemonada', cursive;
    font-weight:700;
    font-size:100%;
    position: absolute;
    top:230px;
}
.carousel-image {
    height:100%;
    width:100%;
    filter: brightness(80%);
    opacity:0.8;
}
/* buttons do not work properly with <a> tag so it will not be used in this project
.button {
  background-color: rgb(171, 87, 83);
  border: none;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  margin: 4px 2px;
  border-radius:15px;
}
.button:hover {
      background-color:rgb(115, 38, 38);
      font-size:1.1rem;
      transition:0.3s;
}
.button a {
    color:white;
    text-decoration:none;
}
*/
h1 {
    font-size:5rem;
}
h1+p {
    font-size:2rem;
}
#most-popular-items-title {
    padding:20px;
    margin:30px 0;
    display:flex;
    justify-content:center;
    color:rgb(115, 38, 38);
    font-size:2.2em;
    font-weight:bold;
}
@media(min-width:540px) {
    #most-popular-items {
        display: grid;
        grid-gap:5px;
        grid-template-columns:1fr 1fr;
        align-items:center;
    }
}

@media (min-width:1000px) {
    #most-popular-items {
        grid-template-columns:1fr 1fr 1fr 1fr;
    }
}

#most-popular-items div {
    
    padding:5px;
    margin:5px;
}
#most-popular-items>div:hover {
    box-sizing: border-box;
    border:5px solid rgb(115, 38, 38);
    border-radius:5%;
}
#most-popular-items div img {
    width:100%;
}
@media(max-width:539px) {
    #main-facts-about-us {
        border:2px solid black;
        display:grid;
        grid-template-columns:1fr;
    }
}

@media(min-width:540px) {
    #main-facts-about-us {
        border:2px solid black;
        display:grid;
        grid-template-columns:1fr 1fr 1fr 1fr;
        font-size:1.2rem;
    }
}
#main-facts-about-us div{
    margin:5px;
    max-width:100%;
    width:100%;
    text-align:center;
    color:white;
    font-size:1.2rem;
}
#main-facts-about-us {
    margin:25px auto 25px auto;
    background-image: url("../img/background-about-us-short.jpg");
    padding:75px 5px;
    background-size:auto;
    filter: brightness(80%);
    opacity:0.8;
    font-size:1.2rem;
}
#brands div {
    display:flex;
    align-items:center;
    justify-content:center;
}
@media(max-width:539px) {
    #brands {
        display:grid;
        grid-gap:5px;
        grid-template-columns:1fr 1fr;
        align-items:center;
    }
}
@media(min-width:540px) {
    #brands {
        display:grid;
        grid-gap:5px;
        grid-template-columns:1fr 1fr;
        align-items:center;
    }
}
@media (min-width:1000px) {
    #brands {
     grid-template-columns:1fr 1fr 1fr 1fr;
    }
}
#brands div img {
    width:70%;
    margin:50px 3px;
}
#call-us {
    display:flex;
    flex-direction:column;
    border:2px solid black;
    justify-content:center;
    text-align:center;
    padding:75px 5px;
    color:white;
    background-image: url("../img/background-call-us.jpg");
    background-size:auto;
    filter: brightness(80%);
    opacity:0.8;
    font-size:1.5rem;
}
#footer {
    background-color:rgb(115, 38, 38);
    color: #cccccc;
    max-width:1500px;
}
.contact-and-ask-titles {
    font-size:2.5rem;
}
.contacts-titles {
    color:rgb(115, 38, 38);
    font-size:1.5rem;
    font-weight:700;
}
.form-bg {
    background-color:rgb(242, 242, 242);
}
.input-field {
  padding:10px;
  margin:7px;
  border-radius:10px;
  width:100%;
  border-color:rgb(171, 87, 83);
}
.input-field:focus {
  border-color:rgb(115, 38, 38);
  outline:none;
}
.btn {
    background-color:rgb(171, 87, 83);
    border-color:rgb(171, 87, 83);
}
.btn:hover {
    background-color:rgb(115, 38, 38);
    border-color:rgb(115, 38, 38);
    transition:0.3s;
}
#leave-message {
    margin-bottom:50px;
}
#google-maps {
    width:100%;
}
.form-control:focus {
        border-color: rgb(171, 87, 83);
        box-shadow: 0 0 0 0.2rem rgb(171, 87, 83);
    }
.paragraph-price-and-buy {
        display:flex;
        justify-content:center;
        font-size:1.2rem;
        font-weight:500;
        text-align:center;
    }
.price-and-buy {
        display:flex;
        justify-content:space-around;
        border:0;
    }
.btn-buy {
    background-color:rgb(171, 87, 83);
    border-color:rgb(171, 87, 83);
    border-radius:5px;
    padding:5px 12px;
    color:white;
}
.btn-buy:hover {
    background-color:rgb(115, 38, 38);
    border-color:rgb(115, 38, 38);
    transition:0.3s;
}
.price {
    font-size:1.3em;
    padding:5px 12px;
}
#google-maps {
    border:0; 
}
/*PRODUCTS PAGE STYLES BELOW*/
#categories-title {
    padding:50px 20px 0 20px;
    margin:30px 0;
    display:flex;
    justify-content:center;
    color:rgb(115, 38, 38);
    font-size:2.2em;
    font-weight:bold;
}
@media(min-width:540px) {
    .categories-and-products {
        display: grid;
        grid-gap:5px;
        grid-template-columns:1fr 1fr;
        align-items:center;
    }
}

@media (min-width:1000px) {
    .categories-and-products {
        grid-template-columns:1fr 1fr 1fr 1fr;
    }
}

.categories-and-products div {
    
    padding:5px;
    margin:5px;
}
.categories-and-products>div:hover {
    box-sizing: border-box;
    border:5px hidden rgb(115, 38, 38);
    border-radius:5%;
}
.categories-and-products div img {
    width:100%;
}
#all-items-title {
    padding:50px 20px 20px 20px;
    margin:30px 0;
    display:flex;
    justify-content:center;
    color:rgb(115, 38, 38);
    font-size:1.8em;
    font-weight:bold;
}
/*DELIVERY PAGE STYLES BELOW*/
#delivery-title {
    padding:50px 20px 0 20px;
    margin:30px 0;
    display:flex;
    justify-content:center;
    color:rgb(115, 38, 38);
    font-size:2.2em;
    font-weight:bold;
}
#delivery-image {
    width:100%;
}
ul {
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}
ul>li {
    margin:5px;
}
/*CONTACTS PAGE STYLES BELOW*/
#contacts-title {
    padding:50px 20px 0 20px;
    margin:30px 0;
    display:flex;
    justify-content:center;
    color:rgb(115, 38, 38);
    font-size:2.2em;
    font-weight:bold;
}
/*ABOUT-US PAGE STYLES BELOW*/
#about-us-title {
    padding:50px 20px 0 20px;
    margin:30px 0;
    display:flex;
    justify-content:center;
    color:rgb(115, 38, 38);
    font-size:2.2em;
    font-weight:bold;
}
#about-us-image {
    width:100%;
}